<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EDEBO_dict_loader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <EDEBO_dict_loader.Properties.Settings>
            <setting name="EDEBO_dict_loader_ua_edu_znu_edbo_EDBOGuides"
                serializeAs="String">
                <value>http://edbo.znu.edu.ua:8080/EDBOGuides/EDBOGuides.asmx</value>
            </setting>
        </EDEBO_dict_loader.Properties.Settings>
    </applicationSettings>
</configuration>